.cover{
  align-self: center;
  max-width: 96px;
}
.coverWrap{

}
.root{
  padding: 0;

}
.bookWrap{
  display: flex;
}
.content{
  background-color: #535353;
}
.infoWrap{
  margin-left: 16px;
  width: 100%;
}

.progress{
  width: 100%;
}

.title{
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.bottom{
  display: flex;
  margin-top: 24px;
  color: white;
}

.totalProgress{
  margin-left: 16px;
}

.current{
  color: white;
}
